<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
        <title>Kauri-ID | POC</title>
        <meta name="description" content="Love UI Kit." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="https://unpkg.com/uport-connect/dist/uport-connect.js"></script>
        <!--icons-->
        <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../public/styles/components.css" />
        <link rel="stylesheet" type="text/css" href="../public/styles/colors.css" />
        <link rel="stylesheet" type="text/css" href="../public/styles/demo.css" />
</head>
<body>
<body>

        <!--header-->
        <div class="wrapper">

            <!--header section-->
            <section class="hero-header" id="home" style="background-image: url(../public/img/slide1.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 offset-md-2">
                            <div class="brand">
                                <img src="../public/img/logo-w61.png" class="nav-brand-logo" />
                                <h1 class="heading-light">One Account. Complete Control.</h1>
                                <p class="lead mb-5">
                                    Kauri ID - Self-sovereign Identification Management System
                                </p>
                                <button id="login" class="btn btn-outline-white btn-round btn-md page-scroll">
                                    <em class="ion-person"></em> Login
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../public/scripts/main.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
